# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables / secrets
.env
.env.local

# Google API credentials
credentials.json
token.json
client_secret*.json

# API keys / webhook URLs
config.py
secrets.py

# Logs
*.log
logs/

# CSV / output data
*.csv
data/
reports/

# Camera captured images / videos
captures/
images/
videos/
*.jpg
*.jpeg
*.png
*.mp4
*.avi

# YOLO / ML model files
*.pt
*.onnx
*.engine
runs/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

#humid and tempreture sensor
DHT11.py
#LCD control code
LCD1602.py

#LCD1602 testing code
LCD1602_mock.py
